body {
    font-family: Arial;
    background-color: #000000d1;
}

* {
    box-sizing: border-box;
}

/* The Title  */
.title {
    height: 150px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "lobster", cursive;
    font-size: 50px;
}
/* button styling */

.but {
    font-family: "lobster" ,cursive;
    color: red;
    font-size: 28px;
    width: 220px;
    height: 41px;
    border: none;
    outline: none;
    background: rgb(191, 191, 191);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.but:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.but:active {
    color: rgb(0, 0, 0)
}

.but:active:after {
    background: transparent;
}

.but:hover:before {
    opacity: 1;
}

.but:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(110, 104, 104);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.warper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.search {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px;
    height: 40px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    vertical-align:top;
    width:660px;
    height:250px;
}

.searchBox {
    width: 700px;
    width: 700px;
    font-family: "lobster", cursive;
    color: teal;
    font-size: 28px;
}

#resultsDiv {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    columns: 3;
    column-gap: 1em;
    row-gap: 3em;
}
.GifyMe {
    font-size: 28px;
    font-family: 'Lobster', cursive;
    border:none;
    border-radius: 10px;
    color:red  ;
}
button {
    height: 40px;
    cursor: pointer;
}

